data/referit3d
data/scanrefer
data/scannet/scannet_data
data/scannet/scans
data/glove.p
*.pyc
*.so
*.gz
__pycache__/
outputs
spformer
spformer.egg-info
*.whl
.vscode
_dataset/
data/scannet_data
lib/build
lib/pointgroup_ops.egg-info
logs/
logs_eval/
scripts_cluster/
*.sh
tmp/
logs_old/
data_multi3dreder/
*.zip
logs_old_1/
data/clip-feat/
exps/
ipdn/lib/
pointnet2/pointnet2.egg-info/
pointnet2/
*.pyc